/* my computer part */
@media screen and (min-width: 1200px) {

        #body-home {
            background-color: rgb(150,150,30);
        
            margin: auto;
            height: auto;
            width: auto;
        
            max-width: 1200px;
            
        }
        #container {
            
            border: 2px solid rgb(0,0,0);
            border-radius: 15px;
            height: 100vh;
            margin: 0 auto;
        }
        .title{
            text-align: center;
            size-adjust: 200px;
            
        }
       
        /* button */
          /* button */
          .btn {
            padding: 6px 12px;
            border: 1px ;
            border-radius: .5rem;
            background-color: rgb(0, 128, 128);
            line-height: 1;
            }
            .btn:hover {
            background-color: rgb(204, 204, 204);
            
            }
            .btna:visited{
                color: rgb(255, 0, 0);
            }

            
        
        
        
        .btn a {
        padding: 6px 12px;
        text-decoration: none;
        display: flex;
        color: rgb(0,0,0);
        }
        
        img {
        width: 60%;
        margin: auto;
        
        }
        /* header*/
        header nav {
            width: 90%;
            display: flex;
            
            align-items: center;
        }
      
        
        #body-home #nav-home {
           
        color: rgb(255,255,255);
        border: 1px rgb(0,0,0);
        
        }
        /* main menu */
        
        #main-menu ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            background-color: rgb(100, 50, 200);
            color: rgb(255,255,255);
        }
        #main-menu li {
            
            border: 1px solid rgb(0,0,0);
            
        }
        
        
        
        #main-menu a {
            padding: .75rem .3rem .75rem .3rem;
            text-decoration: none;
            color: rgb(255,255,255);
        }
        #main-menu a:hover {
        background-color: rgb(0, 128, 128);
        
        
        }
       
        /* hero */
        .hero {
            background-color: rgb(150,150,30);
            width: 50%;
            color: rgb(255, 255, 255);
        }
        
        .hero-content {
            position: center;
            width: 100%;
            color: rgb(255,255,255);
        }
        .cta {
        
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            color: rgb(255,255,255);
        
        }
        /* main.container{
            flex-direction: column;
        } */
           
            main.container{
                flex-direction: row;
            }
        
        section {
        width: 66.6%;
        background-color: rgb(150,150,30);
        border: solid rgb(0,0,0);
        color: rgb(255,255,255);
        }
        aside {
       
        width: 33%;
        background-color: rgb(150,150,30);
        border:  solid rgb(0,0,0) 1px;
        color: rgb(255,255,255);
        }
        section aside {
            padding: 0 1rem ;
            color: rgb(255,255,255);
        }
        footer {
            background-color: rgb(150,150,30);
            color: rgb(255,255,255);
            width: 100%;
            border: solid rgb(0,0,0);
        }
        footer .container {
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(0,0,0);
        flex-direction: row;
        }
       
        footer.container{
            flex-direction: row;
        }
        #footer-menu a {
            color: rgb(255,255,255);
            text-decoration: none;
        }
        #footer-menu ul {
            display: flex;
            list-style: none;
            padding: 0;
            color: rgb(255,255,255);
        }
        #footer-menu a:hover {
            border-bottom:  1px solid ;
            color: rgb(255,255,255);
            /* Unvisited link */}
            #footer-menu a:link {
    color: rgb(255,255,255);
    }
    
    /* Visited link */
    #footer-menu a:visited {
    color: rgb(255, 0, 0);
    }
    
   
    
    /* Selected link */
    #footer-menu a:active {
    color: rgb(0, 128, 0);
    }
}
/* my mobile part */
@media only screen and (max-width: 480px) {


    #body-home {
        background-color: rgb(150,150,30);
        overflow-y: scroll; overflow-x: hidden;
        margin: 0 auto;
        height: auto;
        width: auto;
        border: 2px solid rgb(0,0,0);
        border-radius: 15px;
        min-width: 360px;
        max-width: 640px;
        
    }
    #container {
        min-width: 360px;
        max-width: 480px;
        border: 2px solid rgb(0,0,0);
        border-radius: 10px;
        height: 100vh;
        margin: 0 auto;
    }
   
    /* button */
    .btn {
    padding: 6px 12px;
    border: 1px ;
    border-radius: .5rem;
    background-color: rgb(0, 128, 128);
    line-height: 1;
    }
    .btn:hover {
    background-color: rgb(204, 204, 204);
    
    }
    .btn a {
    padding: 6px 12px;
    text-decoration: none;
    display: flex;
    color: rgb(0,0,0);
    }
    
    img {
    max-width: 50%;
    
    
    }
    /* header*/
    header nav {
        width: 90%;
        display: flex;
        
        align-items: center;
    }
  
    
    #body-home #nav-home {
       
    color: rgb(255,255,255);
    border: 1px rgb(0,0,0);
    
    }
    /* main menu */
    
    #main-menu ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        background-color: rgb(100, 50, 200);
        color: rgb(255, 255, 255);
        flex-direction: column;
        
       
    }
    #main-menu li {
        
        border: 1px solid rgb(0,0,0);
        
    }
    
    
    
    #main-menu a {
        padding: .75rem .3rem .75rem .3rem;
        text-decoration: none;
        color: rgb(255,255,255);
    }
    #main-menu a:hover {
    background-color: rgb(0, 128, 128);
    
    
    }
   
    /* hero */
    .hero {
        background-color: rgb(150,150,30);
        width: 50%;
        
    }
    
    .hero-content {
        position: relative;
        background-color: rgb(150,150,30);
        width: 74%;
        height: 200px;
        margin: 1rem 0;
        padding: 1rem;
        border-bottom: 2px solid rgb(0,0,0);
        border-right: 2px solid rgb(0,0,0);
        border-radius: 1rem;
        color: rgb(255,255,255);
        
    }
    .cta {
    
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    
    }
    #lead {
        flex-direction: column;
    }
    main.container{
        flex-direction: column;
    }
    .b {
        white-space: normal;
      }
    
    section {
    width: 66.6%;
    background-color: rgb(150,150,30);
    border: solid rgb(0,0,0);
    color: rgb(255,255,255);
    
    }
    aside {
    width: 33%;
    background-color: rgb(150,150,30);
    border:  solid rgb(0,0,0) 1px;
    color: rgb(255,255,255)
    }
    section aside {
        padding: 0 1rem ;
    }
    footer {
        background-color: rgb(150,150,30);
        color: rgb(255,255,255);
        width: 74%;
        border: 1px solid rgb(0,0,0);
    }
    footer .container {
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0,0,0);
    flex-direction: column;
    }
    #footer-menu a {
        color: rgb(255,255,255);;
        text-decoration: none;
    }
    #footer-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
    }
    #footer-menu a:hover {
        border-bottom:  1px solid rgb(255,255,255);;
    
    
    }
    

}
        
        
        